@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/Anuphan-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/Anuphan-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/Anuphan-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/Anuphan-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/Anuphan-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/Anuphan-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./assets/fonts/Anuphan-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Anuphan', sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

.react-select__control {
  @apply !border-base-content/15 !bg-base-100 !rounded-btn;
}

.react-select__control--is-focused {
  box-shadow: 0 0 0 1px var(--fallback-p, oklch(var(--p) / 1)) !important;
}

.react-select__single-value,
.react-select__input-container {
  @apply !text-base-content;
}

.react-select__indicator-separator {
  background-color: var(--fallback-bc, oklch(var(--bc) / 0.25)) !important;
  @apply !divider-horizontal !mx-1 !my-2 !w-[2px];
}

.react-select__indicator,
.react-select__dropdown-indicator {
  &>svg {
    fill: var(--fallback-bc, oklch(var(--bc) / 0.25)) !important;
  }
}

.react-select__menu {
  @apply !bg-base-100 !rounded-box !overflow-hidden !p-2 !w-max;
}

.react-select__menu-list {
  @apply !flex !flex-col !items-center !justify-center !gap-2 !min-w-[130px];
}

.react-select__option {
  @apply !rounded-btn !cursor-pointer !px-4;
}

.react-select__option--is-focused {
  @apply !bg-base-300;
}

.react-select__option--is-selected {
  @apply !bg-primary !text-primary-content;
}

.loading-hieght-full {
  height: calc(100dvh - 150px);
}

.swiper-pagination {
  @apply !z-[5];
}

.swiper-pagination-bullet {
  @apply !bg-base-300 !opacity-100 !rounded-btn !w-[10px] !h-[10px];
}

.swiper-pagination-bullet-active {
  @apply !bg-primary;
}

.apexcharts-text tspan {
  @apply !fill-base-content;
}

.apexcharts-legend-text {
  @apply !text-base-content !font-[anuphan] !text-[12px];
}

.apexcharts-tooltip.apexcharts-active {
  @apply !bg-base-200 !shadow-sm p-2 !z-20;
}

.chart-h>div:nth-child(1)>.swiper-wrapper {
  @apply !h-[310px];
}

.apexcharts-grid>*>line, .apexcharts-grid-borders>line {
  @apply !stroke-base-content !stroke-2 opacity-10;
}

.dataTableWrapper {
  &>div:nth-child(1) {
    @apply rounded-none;
  }

  &>div>div>div>div {
    @apply bg-base-100 duration-300;
  }

  &>div>div>div>div>div {
    @apply bg-transparent !text-base-content !border-b-base-content/10 duration-300;

    &>div {
      @apply duration-300;
    }
  }

  &>div>div>div>div:nth-child(2)>div:hover {
    @apply duration-300 bg-base-300;
  }

  &>div:nth-child(2)>nav {
    @apply bg-transparent text-base-content border-t-base-content/10 duration-300;

    &>div:nth-child(4)>button:disabled {
      @apply !cursor-not-allowed text-base-content/30 fill-base-content/30;
    }

    &>div:nth-child(4)>button {
      @apply text-base-content fill-base-content;
    }
  }
}